<mat-card>
    <mat-card-content>
     <form enctype="multipart/form-data">
        <div class="header">
          <h2>Upload File Here</h2> <br>
          <p>{{fileName || 'File Not Yet Selected'}}</p>
        </div> <br> <br>
      
        <div style="display: flex;
        justify-content: space-around;">
          <input 
          
          type="file" 
          #uploader
          (change)="onSelectingFile($event)"
          />
          <button (click)="uploadSelectedFile()">
              Upload
          </button>
        </div>
     </form>
      
    </mat-card-content>
  </mat-card>